<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Gendhis Kelana - Discover and enjoy your favorite restaurants with ease.">

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">

  <title>Gendhis Kelana</title>
</head>
<body>
  
  <header class="app-bar">
    <a href="#maincontent" class="skip-link" tabindex="0">Skip to content</a>
    <a id="hamburger" href="#" tabindex="0" aria-label="Toggle Navigation Menu">☰</a>
    <div class="app-bar__brand">
      <a href="/" class="app-bar__brand-link" tabindex="-1">Gendhis Kelana</a>
    </div>
    <nav id="drawer" class="app-bar__nav">
      <ul class="app-bar__nav-list">
        <li class="app-bar__nav-item"><a href="/" class="app-bar__nav-link" tabindex="0">Home</a></li>
        <li class="app-bar__nav-item"><a href="#/like" class="app-bar__nav-link" tabindex="0">Favorite</a></li>
        <li class="app-bar__nav-item"><a href="https://www.linkedin.com/in/muhammad-irfan-abidin-40b3a1223/" class="app-bar__nav-link" tabindex="0">About</a></li>
      </ul>
    </nav>
  </header>

  <main id="maincontent" tabindex="0" class="app-main__content skeleton">
  </main>

  <footer>
    <div id="footer"></div>
  </footer>

</body>
</html>
